#include "audio_mixer.hpp"
#include "utils.hpp"
#include <cstdlib>
#include <string>
#include <vector>
#include <filesystem>

BEGIN_FFMPEG_NAMESPACE_V

    // Hanya fungsi ini yang akan dipanggil oleh XDBot
    geode::Result<> AudioMixer::mixVideoAudio(std::filesystem::path videoFile, std::filesystem::path audioFile, std::filesystem::path outputMp4File) {
        
        // Membangun command untuk GDMPEG di Termux
        std::string cmd = "su -c '/data/data/com.termux/files/home/GDMPEG/dist/bin/gdmpeg_test \"" + 
                          videoFile.string() + "\" \"" + 
                          audioFile.string() + "\" \"" + 
                          outputMp4File.string() + "\"'";

        // Eksekusi sistem
        int result = std::system(cmd.c_str());

        if (result == 0) return geode::Ok();
        return geode::Err("GDMPEG Gagal: Cek izin root atau path biner.");
    }

    // Fungsi ini wajib ada agar tidak error saat linking, tapi kita kosongkan
    geode::Result<> AudioMixer::mixVideoRaw(const std::filesystem::path& videoFile, const std::vector<float>& raw, const std::filesystem::path &outputMp4File) {
        return geode::Ok();
    }

END_FFMPEG_NAMESPACE_V
